@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to KhumaloCraft, where creativity meets craftsmanship. We are passionate about creating unique and beautiful handmade crafts that reflect the rich cultural heritage of Africa.</p>
<p>At KhumaloCraft, we strive to blend traditional artisan techniques with modern design aesthetics to produce high-quality, one-of-a-kind pieces that celebrate the beauty and diversity of African artistry.</p>
<p>Our skilled artisans carefully handcraft each item with meticulous attention to detail, ensuring that every piece is not only visually stunning but also imbued with the spirit of Africa.</p>