@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Feel free to reach out to us with any questions, comments, or inquiries you may have. We'd love to hear from you!</p>
<ul class="contact-info">
    <li><i class="fas fa-map-marker-alt"></i> 123 Craft Street, Cape Town, South Africa</li>
    <li><i class="fas fa-phone"></i> 123 456 7890</li>
    <li><i class="fas fa-envelope"></i> info@khumalocraft.com</li>
</ul>