@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Welcome to KhumaloCraft</h1>
    <body>
        <p>Please choose an option:</p>
        <a asp-controller="Home" asp-action="Register" class="btn btn-primary">Register</a>
        
        <a asp-controller="Home" asp-action="Login" class="btn btn-secondary">Login</a>
    </body>
</div>
