@model KhumaloCraft.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Log In!</h1>

<body>
    <form asp-controller="Login" asp-action="Login" method="post">
        <input type="text" name="Email" placeholder="Email" required />
        <input type="text" name="Name" placeholder="Name" required />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</body>
