@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<body>
    <form action="/Product/Work" method="post">
        <p Sign Up</p>
        <input type="text" name="Name" placeholder="Name" required />
        <input type="text" name="Price" placeholder="Price" required />
        <input type="text" name="Category" placeholder="Category" required />
@*         <input type="text" name="Availability" placeholder="Availability" required /> *@
        <select name="Availability">
            <option value="1">In Stock</option>
            <option value="0">Out of Stock</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>