@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<h4>
    Below are examples of my works that I have on offer:
</h4>

<figure>
    <img src ="/Images/African Bowls.jpg" width="300" height="200">
    <figcaption> Traditional Bowls: R250 each </figcaption>
    <img src="/Images/African Vases.jpg" width="300" height="200">
    <figcaption> Traditional Vases: R400 each </figcaption>
    <img src="/Images/beaded_bangles.jpg" width="300" height="200">
    <figcaption> Beaded Bangles: R125 each </figcaption>
    <img src="/Images/Sitting Animals.jpg" width="300" height="200">
    <figcaption> Sitting Animal Statues: R160 each </figcaption>
</figure>